body {
    background-color: rgb(36, 39, 43);
}

.center-bottom {
    border: 4px solid rgb(50, 50, 50);
    border-radius: 10px;
    height: 5%;
    position: relative;
    top: 93.5%;
    right: -30%;
    text-align: center;
    inline-size: 35%;
    background-color: rgb(100, 100, 100);
}
.input {
    color: white;
    padding: none;
    width: 97.5%;
    height: 75%;
    transform: translateY(15%);
    border: none;
    font: normal normal bold 125% 'Comic Sans MS', cursive;
    outline: none;
    background-color: transparent;
}
.send {
    border: 2px solid rgb(106, 90, 205);
    float: right;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    transform: translate(150%, -90%);
    background-color: rgb(116, 100, 215);
    color: white;
}