body {
    background-color: rgb(36, 39, 43);
}

div {
    position: fixed;
    left: 0%;
    text-align: center;
}

input {
    background-color: rgb(100, 100, 100);
    border: 4px solid rgb(50, 50, 50);
    border-radius: 10px;
    color: white;
    font: normal normal bold 125% 'Comic Sans MS', cursive;
    height: 4%;
}

::placeholder {
    color: rgb(150, 150, 150);
  }

.center_top {
    top: 10%;
    width: 100%;
}

.center {
    top: 55%;
    width: 95.5%;
}

.center_bottom {
    top: 90%;
    width: 95.5%;
}

.chatbox {
    top: 20px;
    width: 100%;
    Overflow-y: scroll;
    max-height: 85%;
    text-align: left;
}

.chatbox::-webkit-scrollbar {
    display: none;
}

.title {
    color: white;
    font: normal normal bold 550% 'Comic Sans MS', cursive;
}

.login {
    width: 25%;
}

.invalid {
    color: red;
    font: normal normal bold 75% 'Comic Sans MS', cursive;
    position: relative;
    bottom: 0px;
    display: none;
}

.chat {
    width: 40%;
}

.send {
    background-color: rgb(116, 100, 215);
    border: 3px solid rgb(106, 90, 205);
    border-radius: 10px;
    color: white;
    position: absolute;
    transform: translate(40%, 30%);
}

.author {
    font: normal normal normal 110% 'Comic Sans MS', cursive;
    margin-top: 0%;
    margin-left: 29%;
    margin-right: 31%;
}

.message {
    color: white;
    font: normal normal normal 100% 'Comic Sans MS', cursive;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
    word-wrap: break-word;
}